/* all */
::-webkit-input-placeholder { color:#555; }
::-moz-placeholder { color:#555; } /* firefox 19+ */
:-ms-input-placeholder { color:#555; } /* ie */
input:-moz-placeholder { color:#555; }
 
/* individual: webkit */
#campo_busqueda::-webkit-input-placeholder{ color: rgb(0, 0, 0); }
/*#apellidos::-webkit-input-placeholder { color: green; text-transform:uppercase; }*/
 
/* individual: mozilla */
#campo_busqueda::-moz-placeholder { color: rgb(0, 0, 0); }
/*#apellidos::-moz-placeholder { color: green; text-transform:uppercase; }*/

#campo_busqueda{ font-size:12px; color:rgb(0, 0, 0); }